version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: or1-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: int504
      MYSQL_DATABASE: or1
      TZ: Asia/Bangkok
    volumes:
      - ./database:/docker-entrypoint-initdb.d
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - app_net

  backend:
    build: ./backend
    container_name: express_backend
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: int504
      DB_NAME: or1
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks:
      - app_net
  
  frontend:
    image: nginx:alpine
    container_name: nginx_frontend
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app_net

networks:
  app_net: